body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: auto;
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  font-size: 1.1rem;
}

.navBar {
  top: 0;
  position: sticky;
  height: 3rem;
  max-width: 1440px;
  margin: auto;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(207, 26%, 17%);
}

.navBarFlex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navBarLogo {
  padding: 0.4rem 0.6rem;
  margin: 0rem 0.7rem;
  display: none;
}

.navBarElement {
  padding: 0.2rem 0.6rem;
  margin: 0rem 0.7rem;
  border-style: solid;
  border-width: thin;
  border-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  background-color: hsl(209, 23%, 22%);
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}

.navBarElement:hover {
  text-decoration: none;
  color: hsl(207, 26%, 17%);
  background-color: hsl(0, 0%, 100%);
}

.mainLayout {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 2rem;
}

.topSectionLayout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 85%;
  gap: 1.7rem;
}

.filterListLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.filtersTextSize {
  font-size: 1.1rem;
}

.checkboxSpaceAround {
  margin-right: 0.4rem;
}

.checkboxLabelSpaceAround {
  padding-right: 1rem;
}

.controlsTextSize {
  font-size: 3rem;
  padding: 0rem 0.4rem;
}

.controlsTextSize2 {
  font-size: 2.1rem;
  padding: 0rem 0.4rem;
}

.controlsTextSize3 {
  font-size: 1.8rem;
  padding: 0rem 0.4rem;
}

.controlsTextSize4 {
  font-size: 1.2rem;
  padding: 0rem 0.4rem;
}

.iconsControlsSize {
  min-width: 5rem;
}

.taskListLayout {
  max-width: 1400px;
  width: 85%;
}

.updateListLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7rem;
}

.boxItemListLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}

.groupFieldsListLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
}

.itemFieldsListLayout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.cellTableLayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

.fieldLabelSize {
  min-width: 5rem;
}

.solidBorder {
  border-style: solid;
  border-width: thin;
  border-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 1rem;
}

.centerText {
  text-align: center;
}

.radioButtomsLayout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.disableColor {
  color: darkgray;
}

.paddingSelectInput {
  padding: 0.2rem;
}

.timeControlsLayout {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.timeControlsFlex {
  display: flex;
  flex-direction: row;
}

.cursorPointer {
  cursor: pointer;
}

.topIconsAlign {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headTable {
  position: sticky;
  top: -0.1rem;
  background-color: hsl(209, 23%, 22%);
}

.wrapperTable {
  max-height: 50vh;
  overflow-y: auto;
}

.dashboardLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 500px) {
  .boxItemListLayout {
    flex-direction: row;
  }

  .itemFieldsListLayout {
    flex-direction: row;
    align-items: center;
  }

  .timeControlsFlex {
    flex-direction: column;
    padding-left: 1rem;
  }
}

@media (min-width: 800px) {
  .navBar {
    justify-content: space-between;
  }

  .navBarLogo {
    display: inline;
  }

  .topSectionLayout {
    flex-direction: row;
  }

  .filterListLayout {
    align-items: flex-start;
  }

  .topIconsAlign {
    justify-content: flex-end;
    margin-right: 1.5rem;
  }
}

@media (min-width: 1075px) {
  .updateListLayout {
    flex-direction: row;
  }

  .dashboardLayout {
    flex-direction: row;
  }
}
